<h1>Liste des utilisateurs</h1>

<div class="admin-table-container">
  <app-admin-table
    [columns]="columns"
    [data]="data()"
    [actions]="actions"
    (actionTrigerred)="onActionTriggered($event)"
  />
</div>

@if (showBanModal() && selectedUser()) {
  <app-ban-modal
    [username]="selectedUser()!.username"
    (close)="showBanModal.set(false)"
    (confirm)="onBanConfirmed($event)"
  />
}

@if (showDeleteModal() && selectedUser()) {
  <app-confirm-delete-modal
    title="Supprimer l'utilisateur"
    [description]="'Voulez-vous vraiment supprimer ' + selectedUser()!.username + ' ?'"
    (close)="showDeleteModal.set(false)"
    (confirm)="onDeleteConfirmed()"
  />
}
