<section [class.collapsed]="isCollapsed">
  <div class="sidebar-content" [class.hidden]="isCollapsed">
    <img src="assets/logo/Logo.png" alt="logo" routerLink="/dashboard" />

    <div class="menu">
      <ul class="tabs">
        <li class="tab" routerLinkActive="parent-active">
          <span>Signalements</span>
          <ul class="under-tabs">
            <li class="under-tab">
              <a routerLink="/reports/users" routerLinkActive="active">Utilisateurs signalés</a>
            </li>
            <li class="under-tab">
              <a routerLink="/reports/topics" routerLinkActive="active">Topics signalés</a>
            </li>
          </ul>
        </li>

        <li class="tab" routerLinkActive="parent-active">
          <span>Utilisateurs</span>
          <ul class="under-tabs">
            <li class="under-tab">
              <a routerLink="/users/list" routerLinkActive="active">Liste des utilisateurs</a>
            </li>
            <li class="under-tab">
              <a routerLink="/users/banned" routerLinkActive="active">Utilisateurs bannis</a>
            </li>
          </ul>
        </li>

        <li class="tab" routerLinkActive="parent-active">
          <span>Forums</span>
          <ul class="under-tabs">
            <li class="under-tab">
              <a routerLink="/forums/topics" routerLinkActive="active">Liste des topics</a>
            </li>
            <li class="under-tab">
              <a routerLink="/forums/deactivate" routerLinkActive="active">Topics désactivés</a>
            </li>
          </ul>
        </li>

        <li class="tab" routerLinkActive="parent-active">
          <span>Contenus</span>
          <ul class="under-tabs">
            <li class="under-tab">
              <a routerLink="/content/resources" routerLinkActive="active">Ressources</a>
            </li>
            <li class="under-tab">
              <a routerLink="/content/products" routerLinkActive="active">Produits affiliés</a>
            </li>
            <li class="under-tab">
              <a routerLink="/content/promotional-codes" routerLinkActive="active"
                >Codes promotionnels</a
              >
            </li>
          </ul>
        </li>

        <li class="tab" routerLinkActive="parent-active">
          <a routerLink="/statistics" routerLinkActive="active">Statistiques</a>
        </li>
      </ul>
    </div>

    <div class="logout">
      <button type="button" (click)="onLogout()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
          <polyline points="16 17 21 12 16 7" />
          <line x1="21" y1="12" x2="9" y2="12" />
        </svg>
        Se déconnecter
      </button>
    </div>
  </div>

  <button type="button" class="toggle-btn" (click)="toggleSidebar()">
    <lucide-icon [name]="isCollapsed ? 'chevron-right' : 'chevron-left'"></lucide-icon>
  </button>
</section>
