<h1>Liste des utilisateurs bannis</h1>

<div class="admin-table-container">
  <app-admin-table
    [columns]="columns"
    [data]="data()"
    [actions]="actions"
    (actionTrigerred)="onActionTriggered($event)"
  />
</div>

<app-pagination
  [currentPage]="currentPage()"
  [totalPages]="totalPages()"
  [totalItems]="totalItems()"
  (pageChange)="goToPage($event)"
/>

@if (showDeleteModal() && selectedUser()) {
  <app-confirm-delete-modal
    title="Supprimer l'utilisateur"
    [description]="'Voulez-vous vraiment supprimer ' + selectedUser()!.username + ' ?'"
    (closeModal)="showDeleteModal.set(false)"
    (confirm)="onDeleteConfirmed()"
  />
}
