<h1>Liste des forums</h1>

<div class="admin-table-container">
  <app-admin-table
    [columns]="columns"
    [data]="data()"
    [actions]="actions"
    (actionTrigerred)="onActionTriggered($event)"
  />
</div>

<app-pagination
  [currentPage]="currentPage()"
  [totalPages]="totalPages()"
  [totalItems]="totalItems()"
  (pageChange)="goToPage($event)" />

@if (showToggleStatusModal() && selectedTopic()) {
  <app-confirm-delete-modal
    title="Changer le statut du topic"
    [description]="
      'Voulez-vous ' +
      (selectedTopic()!.status === 'Actif' ? 'désactiver' : 'activer') +
      ' le topic ' +
      selectedTopic()!.topicTitle +
      ' ?'
    "
    (closeModal)="showToggleStatusModal.set(false)"
    (confirm)="onToggleStatusConfirmed()"
  />
}

@if (showUpdateTopicModal() && selectedTopic()) {
  <app-update-topic-modal
    [topic]="selectedTopic()!"
    (closeModal)="showUpdateTopicModal.set(false)"
    (confirm)="onUpdateTopicConfirm($event)"
  />
}
