@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: #fffaf6;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --bleu-vert-clair: rgba(211, 242, 233, 0.67);
  --bleu-canard: #7ca8a1;
  --bleu-vert: #0a7b79;
  --bleu-foncer: #064e4d;
  --blanc-casse: #fffaf6;
  --noir-text: #2f2f2f;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background-input: #efefef;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --bleu-vert-clair: rgba(211, 242, 233, 0.67);
  --bleu-canard: #7ca8a1;
  --bleu-vert: #0a7b79;
  --bleu-foncer: #064e4d;
  --blanc-casse: #fffaf6;
  --noir-text: #2f2f2f;
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --background-input: #f4f4f4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-bleu-vert-clair: var(--bleu-vert-clair);
  --color-bleu-canard: var(--bleu-canard);
  --color-bleu-vert: var(--bleu-vert);
  --color-bleu-foncer: var(--bleu-foncer);
  --color-blanc-casse: var(--blanc-casse);
  --color-noir-text: var(--noir-text);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --background-input: var(--background-input);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--muted-foreground);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--muted);
}

@font-face {
  font-family: 'Nunito';
  src: url('../public/fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('../public/fonts/Mulish/static/Mulish-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: var(--background);
  font-family: 'Nunito';
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.app-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.app-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex : 1;
}

h1 {
  font-family: 'Mulish';
  font-weight: 700;
  font-size: clamp(26px, 4vw, 38px);
  line-height: 1.2;
}

h2 {
  font-weight: 700;
  font-size: clamp(22px, 3.5vw, 34px);
  line-height: 1.25;
}

h3 {
  font-weight: 600;
  font-size: clamp(20px, 3vw, 28px);
  line-height: 1.3;
}

h4 {
  font-weight: 600;
  font-size: clamp(18px, 2.5vw, 24px);
  line-height: 1.35;
}

h5 {
  font-weight: 600;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 1.4;
}

p,
li,
span {
  font-size: clamp(14px, 1.2vw, 18px);
  line-height: 1.6;
}

.submit-button {
  background-color: var(--bleu-vert);
  color: white;
  width: 100%;
  border-radius: 10px;
  padding: 0.5em 0;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1);
  box-shadow:
    0 0 4px 0 rgb(0 0 0 / 25%),
    0 6px 6px 0 rgb(0 0 0 / 25%);
}

.submit-button:hover {
  background-color: var(--bleu-foncer);
  transition: 0.3s;
  transform: scale(1.02);
}
